@import "tailwindcss";
@plugin "@tailwindcss/forms" {
	strategy: "class"; /* only generate classes - avoids conflicts with DaisyUI */
}
@plugin "daisyui";

@layer base {
	/* DaisyUI overrides - consolidate all input/form style fixes here */

	/* Number input: hide steppers (up/down arrows) */
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
}
